<ion-header>
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="recargar_productos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header>

    <ion-toolbar>
      <ion-title>Listado de Productos Disponibles</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Ult. Sincronizacion: {{_ps.hora_sincronizacion_productos}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let producto of _ps.productos" (click)="VerProducto(producto)">
      <ion-thumbnail slot="start">
        <ion-img [src]="producto.imagenurl"></ion-img>
      </ion-thumbnail>
      <ion-label>{{producto.codigo}} | {{producto.nombre}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>